@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background: #444;
}
.container{
    max-width: 1300px;
    margin: auto;
}
.row{
    display: flex;
}
.col-2{
    flex-basis: 50%;
    padding: 0 20px;
}
.col-2 img{
/* border: 1px solid black; */
max-width: 100%;
}