.login .menu-icon{
    display: none;   
}
@media (max-width:900px){
    .footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
        flex-basis: 50%;
    }
    .login .menu-icon{
        cursor: pointer;
        display: inline-block;   
        transition: ease 0.7s;
    }
    nav ul{
        position: absolute;
        top: 80px;
        left: 0;
        overflow: hidden;
        transition: ease 0.7s;
        background: linear-gradient(to right,rgba(127, 53, 211, 0.95),rgba(0, 143, 209, 0.95));
        box-shadow: 0px -15px 40px rgba(0, 102, 255,0.8);
        width: 100%;
    }
    nav ul li{
        display: block;
        padding: 15px;
    }
    nav ul li a{
        color: white;
    }
    .about .row{
        flex-direction: column;
    }
    .about .row h1{
        margin-bottom: 30px;
    }


}
@media (max-width:600px)
{
    .footer-col-1,.footer-col-2{
        flex-basis: 100%;
    }
    .footer-col-3,.footer-col-4{
        flex-basis: 50%;
    }
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 85%;
    }
    #prod-phone,#prod-audio,#prod-watch{
        display: none;
    }
    .cart-prod p{
        display: none;
    }
}  