@import url('https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i');
*{
    font-family: Google Sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    transition: ease 0.3s;
    /* text-align: center; */
}
*:focus {
    outline: 0;
}
:root {
    --gblue: #4285F4;
    --gred: #DB4437;
    --fprpl: #bf7aff;
    --fblue: #1fadff;
    --fcyan: #38e1ff;
}
  
::-webkit-scrollbar{
    display: none;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(117, 117, 117);
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}
.col-2{
    flex-basis: 50%;
    padding: 0 30px;
}
.col-2 img,.col-3 img{
    width: 100%;
    padding: 30px 0;
}
.new-prod h1,.about h1{
    font-size: 45px;
    margin: 20px 0;
}
.new-prod p{
    text-align: unset;
}
.col-3{
    flex-basis: 30%;
    padding: 20px;
    min-width: 250px;
}
.col-4{
    flex-basis: 25%;
    padding: 20px;
}
.col-4:hover{
    transform: translateY(-8px);
}
.col-4 img{
    width: 100%;
}
.col-5{
    height: 55px;
}
.col-5 img{
    height: 100%;
    cursor: pointer;
    transition: ease 0.3s;
}
.col-5 img:hover{
    filter: opacity(0.7);
    transform: translatey(-5px);
}
.container{
    max-width: 1366px;
    margin: 50px auto ;
    padding: 0 30px;
}
.sub-container{
    max-width: 1080px;
    padding: 0 30px;
    margin: 50px auto ;   
}
section{
    padding: 40px 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to right,rgba(0, 195, 255,0.9),rgba(141, 110, 255,0.9),rgba(202, 110, 255,0.9));
}
.logo img{
    width: 120px;
}
nav ul{
    display: flex;
    font-size: 18px;
}
nav ul li a{
    text-align: center;
    height: 60px;
    line-height: 60px;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    border-top: 2px solid transparent;
    text-transform: uppercase;
}
nav ul li a:hover{
    border-top: 2px solid var(--fcyan);
    color: var(--fcyan);
}
.menu-btn,.menu-icon{
    display: none;
}
.login .bx{
    font-size: 36px;
    padding: 0 11px;
    color: rgb(234, 191, 255);
}
.vid-cont video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}
.home .container {
    text-align: center;
    padding: 0 40px;
}
.home .container h1 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0, 0, 0,0.8);
}
.title{
    font-size: 36px;
    color: var(--gblue);
    text-align: center;
}
section h3{
    color: #6441A4;
    text-align: center;
}
section p{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 20px 0;
}
.category .col-3{
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    margin: 10px;
}
.category .col-3:hover{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    transform: translateY(-10px);
}
.page-title{
    font-size: 54px;
    color: var(--gblue);
    text-align: center;
}
.feature-head{
    font-size: 36px;
    text-align: center;
}

.question{
    /* display: flex; */
    justify-content: space-between;
    padding: 0 10px;
}
.faq-items .bx{
    font-size: 24px;
}
.faq-items li.showAnswer .bx{
    transform: rotate(180deg);
}
.faq-items li p{
    width: 80%;
    font-weight: 500;
    padding: 10px 20px;
    text-align: unset;
    color: #595959;
    display: none;
}
.faq-items li.showAnswer p{
    display: block;
    
}
.faq-items span{
    cursor: pointer;
    font-size: 20px;
    padding: 10px 0;
}
.faq-items .question:hover{
    color: rgb(111, 0, 255);
}
.faq-items li{
    width: 80%;
    margin: auto;
}
.faq-items hr{
    /* color: rgb(206, 206, 206); */
    border: 1px solid rgb(180, 180, 180);
    margin: 20px 0;
}
.contact input,.contact textarea{
    /* font-weight: 500; */
    width: 100%;
    border: none;
    border-bottom: 2px solid black ;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 18px;
}
.contact input:focus,.contact textarea:focus{
    border-bottom: 2px solid var(--gblue) ;
    background: var(--fcyan);
    border-radius: 10px;
}
.contact textarea{
    height: 150px;
    resize: none;
}
.about-box .bx{
    font-size: 36px;
}
.about-box{
    padding-bottom: 40px;
    padding-left: 50px;
}
.about-box .about-large{
    font-size: 20px;
    padding: 5px 0;
    font-weight: 500;
}
.about-box .about-small{
    padding: 5px 0;
    font-size: 14px;
}
footer{
    /* background: linear-gradient(to left,rgb(200, 255, 223),rgb(163, 211, 255)); */
    background-image: url(../assets/img/ecom/footer-bg.jpg);
    /* background: black; */
    background-size: cover;
    padding: 1px;
}
footer p{
    color: #8a8a8a;
}
footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    /* min-height: 250px; */
    margin-bottom: 40px;
}
.footer-col-1{
    flex-basis: 30%;
    text-align: center;
}
.footer-col-2{
    flex-basis: 20%;
    text-align: center;
}
.footer-col-2 img{
    height: 70px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.app-store{
    padding-top: 20px;
}
.app-store i{
    color: white;
    font-size: 36px;
}
.app-store span a{
    color: #8a8a8a;
    font-size: 16px;
    line-height: 45px;
    vertical-align: top;
}
footer a{
    color: #8a8a8a;
    line-height: 30px;
    letter-spacing: 0.5px;
}

footer .copyright{
    text-align: center;
}
.btn{
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    background: var(--gblue);
    color: rgb(101, 234, 255);
    padding: 10px 20px;
    margin: 30px 0;
    border: 2px solid rgb(101, 234, 255);
    border-radius: 30px;
}
.btn:hover{
    background-color: rgba(101, 234, 255,0.9);
    color: var(--gblue);
    border: 2px solid var(--gblue);
}
@media(max-width:900px){
    .menu-icon{
        display:block;
    }
    nav{
        justify-content: space-between;
        height: 60px;
        padding: 0px 30px;
    }
    .menu{
        display:none;
        position:absolute;
        top:60px;
        left:0px;
        background: linear-gradient(to right, rgba(0, 195, 255,0.9),rgba(141, 110, 255,0.9),rgba(202, 110, 255,0.9));
        width:100%;
    }
    .menu li{
        /* width:100%; */
        display: block;
        margin:auto;
    }
    nav .menu li a{
        display: flex;
        width:100%;
        justify-content: center;
        padding: 0px;
        border:none;
    }
    nav .menu li a:hover{
        border:none;
    }
    nav .menu-icon{
        cursor:pointer;
        padding:28px 20px;
    }
    nav .menu-icon .nav-icon{
        background-color:#ffffff;
        display:block;
        height:3px;
        position:relative;
        width:26px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background:rgb(255, 255, 255);
        content:'';
        display:block;
        height:100%;
        width:100%;
        position:absolute;
        transition:all ease-out 0.3s;
    }
    nav .menu-icon .nav-icon:before{
        top:8px;
    }
    nav .menu-icon .nav-icon:after{
        top:-8px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background:transparent;

    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top:0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top:0;
    }
    nav .menu-btn:checked ~ .menu{
        display:block;
    }
}